/**
 * Cart page
 */

.smalltitle {
  font-size: 1rem;
  font-weight: $global-weight-bold;
  //text-transform: uppercase;
  color:inherit;
  padding: .666rem;
  background-color: $ultralight-gray;
  border:1px solid $light-gray;
  //margin-bottom: 0;


}

.wcmsg {
  @include clearfix();
  font-size: .875rem;
  .button {
    float:right;
    font-size: .666rem;
    margin-left: .5rem;
    background-color: $dark-gray;
    &:hover, &:focus {
      background-color: $secondary-color;
    }
  }
}

.shop_table {
  width: 100%;
  td  {
    vertical-align: top;
  }
 }
.woocommerce-cart {
  table.cart {
    .product-thumbnail {
      display: inline-block;
      width:20%;
      max-width:4rem;
      float:left;
      margin:0 .5rem 0 0;
      a {
        display: inline-block;
      }
    }
    .prodtitle {
      display: block;
      line-height: 1.2;
    }
    .variation {
      display: inline-block;
      margin-bottom: 0;
    }
    .product-quantity {

      .quantity {
       display: inline-block;
      }
    }
  }
}

dl.variation {
  dt {
    display: inline;
  }
  dd {
    display: inline;
    p {
      display: inline;
    }
  }
}
.actions {
  .update_cart {
    //float:right;
  }
}
ul.shipping_method {
  list-style-type: none;
  margin: 0;
}

