/**
 * Cart page
 */

 .shop_table {
  width: 100%;
 }
.woocommerce-cart {
  table.cart {
    .product-thumbnail {
      width:6rem;
    }
    .product-quantity {
      .quantity {
        width: 2.5rem;
      }
    }
  }
}

dl.variation {
  dt {
    display: inline;
  }
  dd {
    display: inline;
    p {
      display: inline;
    }
  }
}
.actions {
  .coupon {
    float:left;
  }
  .update_cart {
    //float:right;
  }
}
ul.shipping_method {
  list-style-type: none;
  margin: 0;
}

