 .woocommerce-checkout {
  padding:2rem 0;
 }
.woocommerce-checkout-payment {
  margin-top: 1.5rem;
}
.wc_payment_methods {
  p {
    font-size: .75rem;
  }
  li.payment_method_paypal {
    white-space: nowrap;
    > * {
      white-space: normal;
    }
  }
}
.wc-terms-and-conditions {
  @include clearfix();
  margin: 2rem 0 1rem !important;
  white-space: nowrap;
  label[for="terms"] {
    white-space: normal;
  }
  .input-checkbox {
    float:left;
    margin-top: .25rem;
  }
}

  /**
   * Forms
   */


.form-row {
  @include clearfix();
  margin-bottom: $global-margin/2;
}

.form-row-first,
.form-row-last {
  float: left;
  width: 48.5%;
  overflow: visible;
}

.form-row-last {
  float: right;
}

.form-row-wide {
  clear: both;
}

ul.payment_methods {
  list-style-type: none;
  margin:0;
}

label[for^="payment_method_"] {
  img {
    width:6rem;
    margin:0 .5rem;
    //display: block;
  }
}

.woocommerce-billing-fields, .woocommerce-shipping-fields {
  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  input[type="checkbox"], input[type="radio"] {
    + label {
      overflow: visible;
    }
  }
}

.woocommerce-checkout {
 .form-row {

 }
}


#billing_city_field.form-row-wide {
  clear:none;
  float: left;
  width: 68.5%;
}
#billing_postcode_field.form-row-last {
  width: 28.5%;
}

