.off-canvas.position-left.off-canvas-left {
  height:100vh;
  @include breakpoint(tablet) {
    left:0;
    width:100%;
    height:7.5rem;
    z-index:1;
    background-color: transparent;
  }
}

.mobileheader {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:3.5rem;
  z-index: 1;
  padding:.5rem 0;
  //background-color: red;
}
.sitelogo.sitelogo--mobil {
  margin-top: 0;
}
.menu-icon {
  color:$primary-color;
}
.siteheader {
  padding:.5rem 0;
  @include breakpoint(tablet) {
  }
}



.sitelogo {
  overflow: hidden;
  text-indent: 200%;
  white-space: nowrap;

  display: inline-block;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../images/logo_2line.svg');
  background-size: auto 100%;
  width:9rem;
  height:2.5rem;
  margin:1rem 0;
  //background-color: rgba($primary-color,.5);
  @include breakpoint(tablet) {
    background-image: url('../images/logo_2line.svg');
    margin:1.5rem 0 0;
    height:3.5rem;
    width:13rem;
  }
}



.pageheader {
  padding:1rem 0;
  //background-color: red;
}

.pagetitle {
  text-transform: uppercase;
  margin:0;
  color:inherit;
}