html, body {
  min-height:100%;
  overflow-x: hidden;
  overflow-y:auto;
  width: 100%;
}

html {
}
body {

}
.row.container {
  @media screen and (min-width: 30em) {
    padding-left: 10%;
    padding-right: 10%;
    &  & {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include breakpoint(medium) {
    padding-left: 0;
    padding-right: 0;
    &  & {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include breakpoint(tablet) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @include breakpoint(large) {
    padding-left: 8%;
    padding-right: 8%;
  }
  @include breakpoint(xlarge) {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.row.container.collapse {
  @media screen and (min-width: 30em) {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(medium) {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(large) {
    padding-left: 0;
    padding-right: 0;
  }
  @include breakpoint(xlarge) {
    padding-left: 0;
    padding-right: 0;
  }
}

.row.container.fullwidth {
  padding-left: 0;
  padding-right: 0;
  max-width: none;

  @include breakpoint(medium) {
    padding-left: 0;
    padding-right: 0;
  }

  > .columns {
    padding-left:0;
    padding-right:0;
  }
}

.document {
  @include clearfix();
  clear:both;
  position: relative;
}

.pagehead {

}

.sidedhead{
  margin-top: 1rem;
}

.ps {
  @include clearfix();
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.ps--kispad {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.lightblock {
  background-color: $ultralight-gray;
}
.whiteblock {
  background-color: #fff;
}

.inverseblock {
  background-color: $primary-color;
  color:#fff;
}

.grayblock {
  background-color: $secondary-color;
  color:$white;
}
.darkblock {
  background-color: $body-font-color;
  color:$white;
}

.feats {

}
.featblock {
  position: relative;
}


.featblock__ill {
  //background-color: $primary-color;

  margin:0 -1.25rem;
  text-align: left;
  overflow: hidden;
  position: relative;
  @include breakpoint(medium) {
    margin:0;
    position: absolute;
    z-index: 0;
    width:33.333%;
    right:0;
    top:0;
    bottom:0;

    .featblock--taska & {
      width:55%;
    }

  }

  @include breakpoint(large) {
   width: 50%;
   .featblock--taska & {
      width:52%;
   }
  }

  @include breakpoint(xxlarge) {
   //width: 43.333%;
  }
  img {
    @include breakpoint(medium) {
      //float:left;
      //display: none;
      width:auto;
      max-width: none;
      height: 100%;
    }
  }
}
.featblock__text {
  padding:4rem 0;
  position: relative;
  z-index: 1;
  //max-width: 45rem;
  @include breakpoint(medium) {
    padding:2rem 0;
    height: 48rem;
    max-height: 50rem;
  }
  @include breakpoint(large) {
    min-height: 50rem;
    height: 100vh;
    padding:4rem 12% 4rem 0;
  }

  @include breakpoint(xlarge) {
    min-height: 44rem;
  }

}


.featblock__text__inner {
  //position: relative;
  @include breakpoint(medium) {
    position: relative;
    transform: translateY(-50%);
    top:50%;
  }
  .button {
    margin-top:1.5rem;
  }

}

.looksec {
  //background-image:
}

.thelookbook {
  //@include clearfix();
  > .columns {
    padding-left:.75rem;
    padding-right: .75rem;
    @include breakpoint(large) {
      padding-left:.5rem;
      padding-right: .5rem;
    }
  }
}

.grid-sizer {
  width: 50%;
  @include breakpoint(tablet) {
    width: 33.333%;
  }
  @include breakpoint(xlarge) {
    width: 25%;
  }

}
.grid-item {
  width: 50%;
  padding:.5rem;
  @include breakpoint(tablet) {
    width: 33.333%;
  }
  @include breakpoint(large) {
    padding:.75rem;
  }
  @include breakpoint(xlarge) {
    width: 25%;
  }
  > a {
    display: block;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    &:hover, &:focus {
      cursor: -webkit-zoom-in;
      cursor: -moz-zoom-in;
      cursor: zoom-in;
      img {
        transform:scale(1.125);
      }
    }
    img {
      display: block;
      transition: all .2s ease;
    }
  }
}

.grid-item--double {
  width: 100%;
  @include breakpoint(tablet) {
    width: 66.666%;
  }
  @include breakpoint(xlarge) {
    width: 50%;
  }
}

.slog2 {
 opacity:.75;
}

.imadunk {
  //font-weight:$global-weight-bold;
  //opacity: .666;
  margin-top: 1.333rem;
  //font-size: 1.125rem;
  line-height: 1.75;
  margin-bottom: 0;
  @include breakpoint(tablet) {
    //font-size: 1.25rem;
    margin-top: 2%;
    margin-left: 2rem;
  }
  p {
    font-size:inherit;
    line-height:inherit;
  }
}

.yt-start {
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-3rem, -3rem);
  //color:rgba($primary-color,1);
  text-shadow:0 0 4px $secondary-color;

  i {
    font-size:6rem;
  }
}

.contactwrap {
  padding-bottom: 4rem;
}

.dropdown-pane {
  z-index: $reveal-zindex+1;
    box-shadow: 0 0 0 200vmax rgba(#000,.5);
}

.dropdown-pane__title {
  margin:0 0 .5em;
  color:inherit;
  font-size: 1rem;
  font-weight: $global-weight-extrabold;
}
.dropdown-pane__subtitle {
  margin:0;
   color:inherit;
  font-size: .75rem;
  font-weight: $global-weight-extrabold;
}