.csimpi {
  margin-bottom: 2rem;
  h2 {
    font-size: .875rem;
    margin-bottom: 1.5em;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    //color: inherit;
    color:$secondary-color;
  }
  p {
    margin-bottom: 0;
    font-size: .75rem;
    font-weight: $global-weight-bold;
    a {
      //color: inherit;
      //text-decoration: underline;
    }
  }

  form {
    margin-top: .75rem;
  }

  input[type="email"] {
    //background-color: transparent;
    //border-color: $primary-color;
    //color:$white;
    &:focus + .button {
      background-color: $primary-color !important;
    }
  }
  .button {
    padding-left: 20%;
    padding-right: 20%;
    //background-color: $medium-gray;
    //border: 1px solid $light-gray !important;
    //color:$medium-gray !important;
  }
  .input-group {
    margin-bottom: 0;
    max-width: 25rem;
  }
  .input-group-button {
    //padding-left: .5rem;
  }
  .mce-responses {
    padding: .5rem 0 .25rem;
    font-size: .75rem;
    line-height: 1.4;
  }
  .response {

    //padding-top: .5rem;

  }
}