.featprods {

}

.featprod__item {
  text-align: center;
  position: relative;
}

.featprod__item a {

  &:hover {
    .featprod__item__title {
      bottom:  0;
      top:auto;
    }

    + .featprod__item__addinfo {
      opacity: 1;
    }
  }

}

.featprod__item__title {
  position: absolute;
  left:0;
  width:100%;
  background-color: $secondary-color;
  color:$white;
  top:100%;
  padding:1rem;
  margin:0;
}

.featprod__item__addinfo {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:1rem;
  opacity: 0;
}

