.sitenav {

}

.menu--sitemenu {
  text-align: right;
  @include breakpoint(medium){
    float:right;
    clear:right;
    font-size: 112.5%;
  }
}

.menu {
  > li:not(.menu-text) {
    > a {
      //text-transform: lowercase;
      font-weight: $global-weight-bold;
      color:$body-font-color;
      .home & {
        color:$white;
      }
      &:hover, &:focus {
        color:$primary-color;
      }
    }
  }
}

.shopnav {

}



.menu--shopmenu {
  text-align: right;
  font-size: 87.5%;
  margin-right: .5rem;
  @include breakpoint(medium){
    float:right;
  }
  > li:not(.menu-text) {
    > a {
      padding: 0.7rem .5rem;
      .home & {
      }
      &:hover, &:focus {
      }
    }
  }
}

.sidenav {
}



.menu--sidemenu {
  > li:not(.menu-text) {
    display: block;
    > a {
      padding: 0.7rem 0;
      .home & {
      }
      &:hover, &:focus {
      }
    }
  }
}
