

.menu--sitemenu {

  font-size: 87.5%;
  text-transform: uppercase;
  @include breakpoint(medium){
    font-size: 87.5%;
  }
  @include breakpoint(tablet){
    font-size: 100%;
  }
  @include breakpoint(xlarge){
    //font-size: 112.5%;
  }
}

.menu {
  > li:not(.menu-text) {
    display: block;
    float: left;
    //display: table-cell;
    margin:0;
    @include breakpoint(medium) {
      //display: table-cell;
    }
    > a {
      //text-transform: lowercase;
      font-weight: $global-weight-bold;
      color:$body-font-color;
      // @include breakpoint(xlarge){
      //   padding:.5rem 1.333rem;
      // }
      &:hover, &:focus {
        color:$primary-color;
      }
    }

  }
}

.shopnav {
  @include clearfix();
  float:right;
}

//egyelőre kilövöm a dropdown menut
.menu--sitemenu {
  > li {
    //display: inline-block;
    &:hover{
      background-color: $ultralight-gray;
        ul {
          display: block;
        }
    }

    > a {
      padding:1.125em .75em;
      &:hover, &:focus {
            background-color: $ultralight-gray;
          }
    }
    > ul {
      font-size: 87.5%;
      list-style-type: none;
      text-align: left;
      display: none;
      margin:0;
      padding:0 0;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      width:100vw;
      border-top:1px solid $light-gray;
      border-bottom:1px solid $light-gray;
      background-color: $ultralight-gray;

      > li {
        display: inline-block;
        margin: 0;
        padding: 0;
        > a {
          text-transform: none;
          display: inline-block;

          color:inherit;
          font-weight: $global-weight-bold;
          padding: .875em .875em;
          &:hover, &:focus {
            background-color: $light-gray;
          }
        }


      }


    }
  }
}


.menu--shopmenu {
  margin-right: .333rem;
  text-align: right;

  @include breakpoint(medium){

  }
  > li:not(.menu-text) {
    > a {
      padding: .5rem .333rem;
      font-weight: $global-weight-normal;
      .home & {
      }
      &:hover, &:focus {
      }
    }
  }
}

.sidenav {
}



.menu--sidemenu {
  font-size: .875rem;
  > li:not(.menu-text) {
    display: block;
    margin:0;
    &.active {
      > a {

        color:$primary-color;
      }
    }
    > a {
      font-weight: $global-weight-normal;
      padding: 0.5rem 0;
      .home & {
      }
      &:hover, &:focus {
      }
    }
  }
}


.listersubnav {

}

.menu--sub {
  text-align: center;
  font-size: 87.5%;
  @include breakpoint(tablet){
    //font-size: 112.5%;
  }
  @include breakpoint(xlarge){
    font-size: 112.5%;
  }
  > li:not(.menu-text) {
    display: inline-block;
    > a {
      //text-transform: uppercase;
      font-weight: $global-weight-bold;
      display: inline-block;
      padding: 0.7em .333em;
      &:hover, &:focus {
      }
    }
  }
}
