/*
 *  Default theme - Owl Carousel CSS File
 */

$color-base:      #869791 !default;
$color-white:     #FFF !default;
$color-gray:      #D6D6D6 !default;

//nav

$nav-color:       $color-white !default;
$nav-color-hover:   $color-white !default;
$nav-font-size:     14px !default;
$nav-rounded:       3px !default;
$nav-margin:      5px !default;
$nav-padding:       4px 7px !default;
$nav-background:    $color-gray !default;
$nav-background-hover:  $color-base !default;
$nav-disabled-opacity:  0.5 !default;

//dots

$dot-width:       10px !default;
$dot-height:      10px !default;
$dot-rounded:     30px !default;
$dot-margin:      5px 7px !default;
$dot-background:    $color-gray !default;
$dot-background-active: $color-base !default;

  // Styling Next and Prev buttons
  .owl-nav {
    position: absolute;
    bottom:100%;
    right:.875rem;

    text-align: right;
    -webkit-tap-highlight-color: transparent;

    [class*='owl-'] {
      color: $white;
      font-size: .75rem;
      line-height: 1;
      margin: 0 0 0 0;
      padding: .333em;
      background: $medium-gray;
      display: inline-block;
      cursor: pointer;

      &:hover {
        background: $dark-gray;
        color:$nav-color-hover;
        text-decoration: none;
      }
    }
    .disabled {
      opacity: $nav-disabled-opacity;
      cursor: default;
    }
    .page-template-tmpl-home &{
        display: none;
    }
  }

  // Styling dots
  .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
  }

  .owl-dots {
    display: none;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
  }


.prod-carousel {
  padding:10px 0;
  @include breakpoint(medium) {
    padding:15px 0;
  }
  @include breakpoint(xlarge) {
    padding:20px 0;
  }
  @include breakpoint(xxlarge) {
    padding:30px 0;
  }

}
