
.productessence {
  padding:2rem 0;
}

.prodthumbs {
  margin-top: 1rem;
}

.productsummary {
  border-top: 1px solid $medium-gray;
  padding-top: 2rem;
  .price {
    font-size: 3rem;
  }
}

.productshortdesc {
  font-weight: $global-weight-bold;
  font-size: 1.25rem;
}





.productaddinfo {
  padding:2rem 0;
}

.productfooter {
  padding:2rem 0 4rem;
  //text-align: center;
}