/******* Filter NAv *****/
.filternav {
  border-bottom: 1px solid $light-gray;
  //background-color: $light-gray;
  text-align: right;
}
.filterblock {

  padding:.75rem 0 .25rem 0;
  @include clearfix();
  display: inline-block;


  @include breakpoint('tablet') {

  }
  ul {
    list-style-type: none;
    margin:0;
    padding:0;
    float:left;
    li {
      display: block;
      float:left;
      margin-bottom: 0;
      a {
        display: block;
        width:1.75rem;
        height:1.75rem;
        overflow: hidden;
      }
      span {
        display:none;
      }
    }
  }
}

.filterblock--colors {
  ul li a {
    color:transparent;
  }
}

.filterblock--size {
  ul li a {
    display: block;
    text-align: center;
    border:1px solid $medium-gray;
    margin-left:.5em;
    background-color: $light-gray;
    font-weight: $global-weight-bold;
    color:$secondary-color;
    font-size: .875rem;
    line-height: 1.75rem;
    &:hover, &:focus {
      border-color:$dark-gray;
    }
  }

  ul li.chosen a {
    border-color: $secondary-color;
  }
}
.colvariant--tiny {
  margin:0 0 .5rem .5rem;
  a {
    width:1.75rem;
    height:1.75rem;
    padding:1px;
    //border-color: transparent;
    &:hover, &:focus {
      border-color: $dark-gray;
    }
  }
  &.chosen a {
    border-color: $secondary-color;
  }
}

.filterblock--colors {

}

.filterblock__title, .filterreset {
  font-size: .666rem;
  line-height: 1;
  float:left;
  padding-right: .75em;
  margin:.875em 0 0 1rem;
  font-weight: $global-weight-bold;
  color: inherit;
  text-transform: uppercase;
  display: none;
}

.filterreset {
  display: inline-block;
  float:none;
  line-height: 1;
  margin:1.5rem 0 0 3%;
  padding:0 0;
  vertical-align: top;
  color:$dark-gray;
  font-weight: $global-weight-extrabold;
}

.products.row.container.fullwidth {
  padding:.25rem;
  margin-bottom: 8rem;

  @include breakpoint(tablet) {
    padding:.5rem;
  }

  @include breakpoint(large) {
    padding:.5rem;
  }

  // @include breakpoint(large) {
  //   padding-left: calc(6% + 1.625rem);
  //   padding-right: calc(6% + 1.625rem)
  // }


  .column, .columns {
    padding:.25rem;
    @include breakpoint(tablet) {
      padding:.5rem;
    }
    @include breakpoint(large) {
      padding:.5rem;
    }
  }
}
.productsquare {
  position: relative;
  overflow: hidden;
}

.productsquare {
  del {
    font-size: 70%;
    font-weight: $global-weight-bold;
    color:$secondary-color;
  }
  ins {
    text-decoration: none;
  }
}

.onsale {
  display:inline-block;
  padding:.875em 1.75em;
  //margin:1rem 1rem;
  line-height: 1;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: $global-weight-extrabold;
  letter-spacing: 0.05em;
  position:absolute;
  background-color:$primary-color;
  z-index: 1;
  color:$white;
}

.productsquare__imagelink {

  position: relative;
  display: block;
  //z-index: 1;
  &:hover + .productsquare__infolayer {
    background-color: rgba(#fff, .75);
    //z-index: 2;
  }
  &:hover + .productsquare__infolayer .productsquare__infolayer__data {

    bottom:0;
  }


}


.productsquare__infolayer {
  pointer-events: none;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  transition: all .4s ease-in;
  //background-color: rgba(#fff, .75);

}

.productsquare__infolayer__data {
  position: absolute;
  left:0;
  width: 100%;
  bottom:-100%;
  transition: all .2s ease-in;
  h3 {
    font-weight: $global-weight-bold;
    padding: 1rem 1rem 0;
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 0;
    color:inherit;
    @include breakpoint(tablet){
      font-size: 1.25rem;
    }

  }
  .star-rating {
    padding: 0 1rem 0;
  }
  .price {
    display: block;
    padding: 0 1rem 1rem;
    font-size: 1.25rem;
    //font-weight: $global-weight-bold;
    color:$primary-color;

  }
  .button {
    margin-bottom: 0;
    padding:1em 1em;

    @include breakpoint(medium) {
      padding:2em 1em;
    }
  }
}
