.productbefore {
  @include clearfix();
  padding:1rem .666rem;
  display: none;
  @include breakpoint(tablet) {
    display: block;
  }
  @include breakpoint(xlarge) {
    padding: 1rem 1.25rem;
  }
  //text-align: center;
  .panel {
    //text-align: left;
  }
  .breadnav {
    display: none;
    @include breakpoint(tablet) {
      display: block;
      float:left;
    }
  }

  .prevnextnav {
    //display: inline-block;
    float:right;
  }
}
.productheader {
  //padding:1rem 0 2rem;
  min-height: .625rem;
  @include breakpoint(tablet) {
    min-height: 0;
  }
  @include breakpoint(large) {
    min-height: 2rem;
  }
  .callout {
    margin:.625rem 0;
  }

}
.productessence {
  margin-bottom: 5rem;
  @include breakpoint(tablet) {
    //padding-top:2rem;
  }
}
.productimages {
  position: relative;
  margin-bottom: 1rem;
  //margin-left: 11.666%;
  @include breakpoint(medium) {
    //margin-left: 0;
  }
}
.woocommerce-main-image {
  display: block;
  outline: none;
}
.prodthumbswrap {
  position: absolute;
  left:.5rem;
  top:.5rem;
  width:13.333%;
  display: block;
  @include breakpoint(tablet) {
    left::auto;
    right:100%;
    top:0;
  }
  .sticky.is-stuck {
    width:100%;
  }
}
.prodthumbs {
  margin:0 0 0;
  padding: 0;
  list-style-type: none;
}

.prodthumbs__item {
    display: block;
    padding:0 15% 15% 0;
    margin:0;
    &:last-child() {
      padding-bottom: 0;
    }
    a {
      display: block;
          background-color: #fff;
      padding:2px;
      border:1px solid $ultralight-gray;
      outline: none;
      &:hover, &:focus {
        border-color:$light-gray;
      }
      &.is-active {
        border-color:$medium-gray;
      }
    }
  }

.productsummary {
  //padding:0 5%;
  //border: 1px solid $ultralight-gray;
  padding: 0 0 0;
  text-align: center;
  padding-top: 2rem;
  @include breakpoint(tablet) {
    padding-top: 0;
  }
  @include breakpoint(large) {
      padding-top: 3rem;
  }
  .price {
    font-size: 1.25rem;
    margin:.5rem 0 1rem;
    @include breakpoint(tablet) {
      font-size:1.5rem;
    }

    span {
      //font-weight: $global-weight-bold;
      color:$primary-color;
    }

    del span {
      font-size: 60%;
      font-weight: $global-weight-bold;
      color:$secondary-color;
    }
    ins {
      text-decoration: none;
    }

  }
  .label {
    margin-bottom: 1.25em;
    font-size: .875rem;
    //text-transform: uppercase;
  }
}

.producttitle {
  //font-weight: $global-weight-bold;
  font-size: 1rem;
  .label + & {
    //display: inline;
  }
  @include breakpoint(xlarge) {
    font-size: 1.25rem;
  }
}
.productshortdesc {
  font-weight: $global-weight-bold;
  font-size: .75rem;
  margin: 0 auto;
  @include breakpoint(xlarge) {
    font-size: .875rem;
  }
  p {
    margin-bottom: 0;
  }
}
.productlongdesc {
  margin: 0 0;
  font-size: .75rem;
  border-top: 1px solid $ultralight-gray;


  //border-bottom: 1px solid $ultralight-gray;
  padding: 1.5rem 0 .5rem;
  @include breakpoint(xlarge) {
    font-size: .875rem;
  }
  @supports (hyphens: auto) {
    text-align: justify;
    hyphens: auto;
  }
}

.product_meta {
  font-size: .75rem;
}


.sizehelper {
  font-size: .75rem;
  font-weight: $global-weight-bold;
  text-align: left;
  margin-bottom: 1rem;
  a {
    color:inherit;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}



.productaddinfo {
  padding:0 0 4rem;
  //display:none;
}

.productfooter {
  padding:2rem 0 0;
  //border-top:.5rem solid $primary-color;
  //border-bottom:1px solid #000;
  //text-align: center;
}

.productrelated {

}



.variations {
  @include clearfix();
}
.variations__item {
  margin:0 0 1rem;
  text-align: left;
  max-width:23rem;

  label {
    font-size: .75rem;
    font-weight: $global-weight-bold;
    text-transform: uppercase;
    //color:$dark-gray;
  }


  .reset_variations {
    display: none !important;
  }

}

.colorvariations {
  @include clearfix();
}

#pa_meret {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left:-999999;
  //bottom:0;
  //width: 8rem;
}

.swatch-wrapper {

}
.swatchlist {
  margin:0;
  padding: 0;
  list-style-type: none;
  > li {
  //float:left;
  display: inline-block;
  margin:.25rem .666rem 0 0;
  a {
    display: block;
    width:2.5rem;
    height:2.5rem;
    overflow: hidden;
    border:1px solid $medium-gray;

    padding:2px;
    background-color: $light-gray;
    font-size: .875rem;
    line-height: 2.25rem;
    color:$dark-gray;
    text-align: center;
    &:hover, &:focus {
      border-color: $dark-gray;
      color: $secondary-color;
    }
    @include breakpoint(xlarge) {
      //width:3.666rem;
      //height:3.666rem;
    }
  }
  &.actual a {
    border-color: $primary-color;
    color:inherit;
    //color:$white;
    //background-color: $dark-gray;
  }
  &.disabled a {
    background-color: $ultralight-gray;
    border-color: $light-gray;
    color:$medium-gray;
  }

}
}

.colvariants {
  list-style-type: none;
  margin:0;
}

.colvariant {
  //float:left;
  display: inline-block;
  margin:.25rem .25rem 0 0;
  a {
    display: block;
    width:2.5rem;
    height:2.5rem;
    overflow: hidden;
    border:1px solid $medium-gray;
    background-repeat: no-repeat;
    background-size: 100%;
    padding:2px;
    background-position: center;
    background-clip: content-box;
    font-size: 0;
    color:transparent;
    cursor: pointer;
    &:hover, &:focus {
      border-color: $secondary-color;
    }
  }
  &.actual a {
    border-color: $primary-color;
  }

}



.colvariant--kaleidoscope a {
  background-image: url('../images/colors/kaleidoscope.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/kaleidoscope@2x.jpg'); }
}
.colvariant--skyler a {
  background-image: url('../images/colors/skyler.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/skyler@2x.jpg'); }
}
.colvariant--cubes a {
  background-image: url('../images/colors/cubes.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/cubes@2x.jpg'); }
}
.colvariant--prana a {
  background-image: url('../images/colors/prana.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/prana@2x.jpg'); }
}
.colvariant--cosmos a {
  background-image: url('../images/colors/cosmos.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/cosmos@2x.jpg'); }
}
.colvariant--fekete a {
  background-image: url('../images/colors/black.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/black@2x.jpg'); }
}
.colvariant--holy-hands a {
  background-image: url('../images/colors/holyhands.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/holyhands@2x.jpg'); }
}

/***NEW COLORS ***/
.colvariant--skyler-joy a {
  background-image: url('../images/colors/skylerjoy.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/skylerjoy@2x.jpg'); }
}
.colvariant--tucan a {
  background-image: url('../images/colors/tucan.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/tucan@2x.jpg'); }
}
.colvariant--freebird a {
  background-image: url('../images/colors/freebird.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/freebird@2x.jpg'); }
}
.colvariant--ananasana a {
  background-image: url('../images/colors/ananasana.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/ananasana@2x.jpg'); }
}
.colvariant--leaf a {
  background-image: url('../images/colors/leaf.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/leaf@2x.jpg'); }
}
.colvariant--lotus a {
  background-image: url('../images/colors/lotus.jpg');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi){ background-image: url('../images/colors/lotus@2x.jpg'); }
}


.single_variation_wrap {
  margin-top: 4rem;
}
.woocommerce-variation {
  margin-top: -1.5rem;
  font-size: .75rem;
  //text-align: left;
}
.woocommerce-variation-price {
  text-align: left;
  .price {
    //font-size: 1.25rem;
  }
}

.woocommerce-variation-availability {
  text-align: left;
  p {
    margin-bottom: 0;
  }
}
.woocommerce-variation-add-to-cart {
  label[for="quantity"] {
    display: none;
  }
  .quantity {
    display:none !important;
  }
  button {
    margin: .5rem 0;
  }
}


.tabs-title {
  margin-bottom: 0;
}
