.productheader {
  padding:0;
}
.productessence {
  padding:2rem 0;
}

.prodthumbs {
  margin-top: 1rem;
}

.productsummary {
  //border-top: 1px solid $medium-gray;
  //padding-top: 2rem;
  .price {
    font-size: 1.5rem;
    @include breakpoint(tablet) {
      font-size:2rem;
    }
  }
}

.productshortdesc {
  font-weight: $global-weight-bold;
  font-size: 1.25rem;
}

.variations {
  @include clearfix();
}
.variations__item {
  width:50%;
  float:left;
  @include breakpoint(tablet){
    width:33.333%;
    float:left;
  }
}




.productaddinfo {
  padding:2rem 0;
}

.productfooter {
  padding:2rem 0 4rem;
  //text-align: center;
}