.widget {
  margin-bottom: 2rem;
}
.sidebar--page {
  margin-top:1.5rem;
  .widget {

  }

  .widget__title {
    font-size: 1rem;
    text-transform: uppercase;
  }
  .textwidget {
    font-size: .875rem;
  }
}